CAMBIO_HOST=127.0.0.1
CAMBIO_PORT=3000
CAMBIO_WEB_ORIGIN=http://127.0.0.1:5173
CAMBIO_DATABASE_PATH=./data/cambio.db
CAMBIO_SESSION_SECRET=replace-with-at-least-32-random-bytes
CAMBIO_LOG_LEVEL=info
CAMBIO_RECONNECT_GRACE_MS=120000
CAMBIO_ROOM_TTL_HOURS=24
